<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Quzi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A87F5C11F3B0D7400CB69D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A87F5D51F3B0D7400CB69D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A87F5E01F3B0D7500CB69D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
